[submodule "yunity-core"]
	path = yunity-core
	url = git@github.com:yunity/yunity-core.git
  branch = master
[submodule "yunity-webapp"]
	path = yunity-webapp
	url = git@github.com:yunity/yunity-webapp.git
  branch = master
[submodule "yunity-webapp-mobile"]
	path = yunity-webapp-mobile
	url = git@github.com:yunity/yunity-webapp-mobile.git
  branch = master
[submodule "yunity-webapp-common"]
	path = yunity-webapp-common
	url = git@github.com:yunity/yunity-webapp-common.git
  branch = master
