[submodule "yunity-core"]
	path = yunity-core
	url = git@github.com:yunity/yunity-core.git
[submodule "yunity-webapp"]
	path = yunity-webapp
	url = git@github.com:yunity/yunity-webapp.git
[submodule "yunity-webapp-mobile"]
	path = yunity-webapp-mobile
	url = git@github.com:yunity/yunity-webapp-mobile.git
